<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0">
    <link rel="stylesheet" href="/res/style/weui.min.css"/>
    <link rel="stylesheet" href="/res/style/smallow.css"/>
    <script type="text/javascript" src="/res/js/zepto.min.js"></script>
    <script type="text/javascript" src="/res/js/weui.min.js"></script>
    <title>我的缴费记录</title>
</head>
<body>
<div class="container">
    <div class="page list js_show">
        <div class="page__hd">
            <h1 class="page__title">缴费记录</h1>
        </div>
        <div class="page__bd">
            <div class="weui-cells" id="list_data">

            </div>
        </div>
    </div>
</div>

<script>
    $(function () {
        var loading = weui.loading('正在加载中...');
        $.post("/getMyPayment",{},function (data) {
            loading.hide();
            if(data.msg=="success"){
                var list=data.list;
                $.each(list,function (index, obj) {
                   var str=$("<a class='weui-cell weui-cell_access' href='javascript:;' onclick=\"goMyPamentDetail('"+obj.id+"')\"><div class='weui-cell__bd'><div class='weui-flex'><div class='weui-flex__item'>缴费人:<span id='pay_name'>"+obj.name+"</span></div><div class='weui-flex__item'>缴费金额:<span id='pay_money'>"+obj.name+"</span></div></div><div class='weui-flex' style='height: 10px;'>&nbsp;</div><div class='weui-flex'><div class='weui-flex__item' >群:<span id='group_name'>"+obj.groupName+"</span></div><div class='weui-flex__item'>缴费时间:<span id='pay_time'>"+obj.payTime+"</span></div></div></div><div class='weui-cell__ft'></div></a>");
                   $("#list_data").append(str);

                });
            }else{
                weui.alert("请先登录查询");
                window.location.href="/groupAty";
            }

        });
    });
    
    function goMyPamentDetail(recordId) {
        if(recordId!=""){
            window.location.href="/toMyPaymentDetail?recordId="+recordId;
        }


    }
</script>
</body>
</html>